body {
    width: 100vw;
    height: 100vh;
    color: white;
    background-color: red;
}

.el {
    width: 20px;
    height: 30px;
    color: red;
}
.el1 {
    width: 20px;
    height: 30px;
    color: red;
}
.el2 {
    width: 20px;
    height: 30px;
    color: red;
}
.el3 {
    width: 20px;
    height: 30px;
    color: red;
}